

.comments{
background: #fff;
margin: 0px -15px -25px -15px;
padding: 0 20px 15px 15px;
border-top: solid 1px #dddfe2;
border-right: solid 1px #dddfe2;
margin-top: 20px;

}

.comments input[type=text]{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  min-height: 32px;
  width: 430px;
  border-radius: 18px;
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  resize: none;
  box-sizing: border-box;
  border: solid 1px #dddfe2;
  word-wrap: break-word;
  background-color:#eff1f3;
}

.com-div{
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.comment-text{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  margin-right:6px;
  margin-left:6px;
  font-size: 12px;
  color: #315796;
  font-weight: bold;
  align-items: center;
}
.delete-hover{

}
.space-del{
  margin-left:10px;
  color:#315796;
  visibility: hidden;
}
.delete-hover:hover .space-del{
  visibility: visible;
}
.each-comment{
  padding:5px 0;
  overflow-wrap: break-word;
  margin:10px 0;
  margin-left: -10px;

}
.post-comment-body{
  margin-right: 20px;
  min-width: 0;
}
.post-name1{
  overflow-wrap: break-word;
  display: inline-flex;
}

.post-me {
 margin-top: -7px;
 font-size: 13px;
 border-radius: 18px;
 padding: 8px 10px;
 background: #fff;
 line-height: 16px;
 font-size: 13px;
 display: flex;
 min-width:0;
 background-color:#eff1f3;
 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}
.cimg{
  height: 32px !important;
  width: 32px !important;
}
.ll Link:hover{
 background:white;
 border-radius: 8px;
}
.write-comment{
  display: flex;
  justify-content: space-between;
}

.ppd{
  margin-top: 10px;
}
