

.friends{
 margin-right: 10px;
}
.span-text{
  margin-left: 10px;
}
.friends-page h2{
  display:inline-flex;
  justify-content: space-between;
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  padding:15px;
}

.friends-page ul{
  display: flex;
  flex-wrap: wrap;
}


.friends-page  ul  li{
  display: block;
  width:135px;
  height:135px;
  padding:10px;
}

.request-dropdown{
  position: absolute;
}

.logout > li:nth-child(4) ul {
  visibility: hidden;
}
.logout > li:nth-child(4):hover ul {
  visibility: visible;
}
ul .request-dropdown li {
  position: relative;
  top:11px;
  right:180px;
  width: 300px;
  height:100px;
  background: #fff;
  color: black;
  font-weight: normal;
  box-shadow: 0px 1px 3px 1px #333;
  z-index: 1;
}
.request-dropdown > li > button{
  margin-top:10px;
  margin-right: 20px;
  border-top:1px;
  border-bottom: 1px;
  border-color: #355088;
  height: 15px;
  text-align: center;

}

ul .request-dropdown > li:hover {
  color: #3c66af;
}


.logout a:hover{
    color: black;
}

.new-triangle{
  height: 10px;
  width: 10px;
  background: #fff;
  position: absolute;
  top: 20px;
  left: -18px;
  transform: rotate(45deg);
  border-left: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
}

.blast{
  position:relative;
  background-color: red;
  border-radius: 100%;
  color:white;
  position:absolute;
  left:1050px;
  top:-2px;
  padding:2px;
}

.fr-req{
  display:flex;
  border:1px solid #355088;
  justify-content: flex-start;
  margin-left:20px;
}

.fr-req img{
height: 28px;
width: 28px;
border-radius: 100%;
margin-right: 10px;

}

.fr-req button{
  font-family: "Lucida Grande", sans-serif;
  background-color: #4267b2;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 2px;
  border-width: thin;
  border-style: solid;
  border-color: #29487d;
  padding: 1px 10px;
  margin-top: 22px;
  height: 22px;
  color:white;
}


.fr-req{
  display: block;
}
.request-dropdown{
  display: block;
}

.name-blk{
  padding-top:20px;
}
