
.greeting_main{
  background-color: #3b5998;
  // background-image: linear-gradient(#4e69a2, #3b5998 50%);
  max-height: 42px;
  color: #fff;
  width: 100%;
  position:fixed;
  z-index: 3;
  font-family: "Lucida Grande", sans-serif;
}
.csearch{
  width: 100%;
  max-width: 448px;
}

.greeting {
  width:980px;
  display:flex;
  justify-content: space-between;
  margin: auto;
}
.left-greeting{
  flex: 1 1 auto;
  justify-content: flex-start;
  margin:5px 0px;
}

.searchButton{
  height: 23px;
  width:30px;
  color: gray;
  align-items: center;
  margin-top: 5px;
  padding-left: 16px;
  background-color: #f6f7f9;
  border-left:1px solid #3b5998;
  border-top-right-radius:3px;
  border-bottom-right-radius: 3px;
}
.blueButton{
  background:#4080ff;
  color: white;
}
.logo{
  margin :5px;
  background: white;
  color: #3b5998;
  height: 24px;
  width: 24px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.text{
  height: 23px;
  width: 400px;
  border-radius: 3px 0px 0px 3px;
  color: #90949c;
  font-size: 12px;
  font-weight: lighter;
  box-sizing: border-box;
  margin-top: 5px;
  border-top-left-radius:3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  background-color: white;
}

.profile_img{
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  box-sizing: border-box;
  content: '';
  height: 24px;
  width: 24px;
  margin-right: 5px;
  border-radius: 50%;
}
.profileIcon{
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  margin-top:-1px;
}
.profileIcon:hover{
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  border-radius: 3px;
  color: #fff;
}

.profile_name{
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 28px;
  white-space: normal;
  color: #fff;
}
.greeting div{
  display:flex;
}

.greeting ul{
  display: flex;
  padding-top: 12px;
}
.greeting ul li{
  display: flex;
  padding:0 3px;
}
.greeting ul a {
  display: flex;
}


.messenger{
height: 20px;
// padding: 0 3px 3px 0;
width: 20px;
background-size: cover;
background-repeat: no-repeat;
background-image: image-url('icon-message.png');
}
.messenger:hover{
background-image: image-url('icon-message-hover-400.png');
}
.friends{
  height: 20px;
  // padding: 0 3px 3px 0;
  position: relative;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url('icon-users-400.png');
}
.friends:active{
  background-image: image-url('icon-users-active-400.png');
}
.friends:hover{
  background-image: image-url('icon-users-hover-400.png');
}

.notification{
height: 20px;
// padding: 0 3px 3px 0;
width: 20px;
background-size: cover;
background-repeat: no-repeat;
background-image: image-url('icon-earth-400.png');
}
.notification:hover{
background-image: image-url('icon-earth-hover-400.png');
}

.dropdown{
height: 16px;
width: 16px;
// padding: 0 3px 3px 0;
background-size: cover;
background-repeat: no-repeat;
background-image: image-url('icon-dropdown-400.png');
}

.quickhelp{
height: 20px;
width: 20px;
// padding: 0 3px 3px 0;
background-size: cover;
background-repeat: no-repeat;
background-image: image-url('icon-question-400.png');
}

.grey-line{
  color: #355088;
  font-weight: bold;
}

.logout-dropdown{
  position: absolute;

}

.logout > li:last-child ul {
  visibility: hidden;
}
.logout > li:hover:last-child ul {
  visibility: visible;
}
ul .logout-dropdown li {
  position: relative;
  top:17px;
  right:180px;
  width: 200px;
  height:62px;
  background: #fff;
  color: black;
  font-weight: normal;
  box-shadow: 0px 1px 3px 1px #333;
  z-index: 1;
  // padding-top: 45px;
}
.logout-options{
  height:24px;
}
.logout-dropdown > li > button{
  // position:absolute;
  top:5px;
  margin-right: 20px;
  border-top:1px;
  border-bottom: 1px;
  border-color: #355088;
  height: 15px;
  text-align: center;
}

ul .logout-dropdown > li:hover {
  color: #3c66af;
}

.triangle{
  height: 10px;
  width: 10px;
  background: #fff;
  position: absolute;
  top: 22px;
  left: 4px;
  transform: rotate(45deg);
  border-left: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
}

.main-req{
  position: relative;
}
.main-req ul{
  display: block;

}
.log-1{
  font-size: 12px;
  margin-top: 5px;
  width:200px;
  border-bottom: 1px solid #dddfe2;
  // border:1px solid #355088;
  color:black;
}
.log-2{
  color: #365899;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  margin-top:10px;
}
.log2:hover{
  text-decoration: underline;
  color: #365899;
}
.log-req {
  display: grid !important;
}
