.greeting_main{
  background: #3b5998;
  height: 41px;
  color: #fff;
  width: 100%;
  position:fixed;
  z-index: 3;
  font-family: "Lucida Grande", sans-serif;
}
.greeting {
  display:flex;
  justify-content: space-between;
  margin: 0 150px;
}
.greeting > div > div{
  margin:5px;
}

.searchButton{
  height: 24px;
  width:5px;
  position: absolute;
  top:12px;
  color: #333;
  left:570px;
}
.logo{
  background: white;
  color: #3b5998;
  height: 28px;
  width: 28px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.text{
  position: absolute;
  display: inline;
  height: 24px;
  width: 400px;
  border-radius: 3px 0px 0px 3px;
  color: #333;
  box-sizing: border-box;
  top:8px;
  left:195px;
  padding: 5px 5px;
  background-color: white;
}

.profile_img{
  height: 28px;
  width: 28px;
  border-radius: 100%;
  margin-right: 10px;
  margin-top: -5px;
}
.greeting div{
  display:flex;
}

.greeting ul{
  display: flex;
  padding-top: 15px;
}
.greeting ul li{
  display: flex;
  padding:0 5px;
}
.greeting ul a {
  display: flex;
}


.messenger{
height: 24px;
width: 24px;
background-size: cover;
background-repeat: no-repeat;
margin-top:0px;
margin-top:-3px;
background-image: image-url('icon-message.png');
}
.messenger:hover{
background-image: image-url('icon-message-hover-400.png');
}
.friends{
  height: 24px;
  width: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:-3px;
  background-image: image-url('icon-users-400.png');
}
.friends:active{
  background-image: image-url('icon-users-active-400.png');
}
.friends:hover{
  background-image: image-url('icon-users-hover-400.png');
}

.notification{
height: 24px;
width: 24px;
background-size: cover;
background-repeat: no-repeat;
margin-top:-3px;
background-image: image-url('icon-earth-400.png');
}
.notification:hover{
background-image: image-url('icon-earth-hover-400.png');
}

.dropdown{
height: 24px;
width: 24px;
background-size: cover;
background-repeat: no-repeat;
margin-top:-3px;
background-image: image-url('icon-dropdown-400.png');
}

.quickhelp{
height: 24px;
width: 24px;
background-size: cover;
background-repeat: no-repeat;
margin-top:-3px;
background-image: image-url('icon-question-400.png');
}

.grey-line{
  color: #355088;
  font-weight: bold;
}

.logout-dropdown{
  position: absolute;
}
.logout > li:last-child ul {
  visibility: hidden;
}
.logout > li:hover:last-child ul {
  visibility: visible;
}
ul .logout-dropdown li {
  position: relative;
  top:11px;
  right:180px;
  width: 200px;
  height:100px;
  height: 100px;
  background: #fff;
  color: black;
  font-weight: normal;
  box-shadow: 0px 1px 3px 1px #333;
  z-index: 1;
  // padding-top: 45px;
}
.logout-dropdown > li > button{
  position:absolute;
  top:5px;
  margin-right: 20px;
  border-top:1px;
  border-bottom: 1px;
  border-color: #355088;
  height: 15px;
  text-align: center;
}

ul .logout-dropdown > li:hover {
  color: #3c66af;
}

.triangle{
  height: 10px;
  width: 10px;
  background: #fff;
  position: absolute;
  top: 20px;
  left: 6px;
  transform: rotate(45deg);
  border-left: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
}

.logout a:hover{
    color: black;
}

.main-req ul{
  display: block;
}
