/* PHASE 1: Header */

.header {
  width:100%;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  min-height: 42px;
  position: fixed;
  z-index: 1;
  color: #fff;
}


.header nav{
  width: 980px;
  display: flex;
  margin: auto;
  justify-content: space-between;

}
.header nav h2{
  font-size: 40px;
  font-weight: bolder;
  font-family: "Lucida Grande", sans-serif;
  padding: 25px 20px 0px 0px;
  margin-bottom: 10px;
  display:flex;

}

.header nav div {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.header nav form{
  width: 450px;
  display: flex;
  padding: 15px 0 0 0;
  justify-content: flex-end;
  position:relative;
}

.login-label-div{
  position:relative;
}

.login-label-div label{
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  display: block;
  padding: 0 10px 5px 5px;
  color: #fff;
  font-weight: normal;
}
.login-label-div label input{
  color: black;
  background-color: #fff;
  border-color: #1d2a5b;
  margin-top: 5px;
  height: 20px;
  width: 142px;
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: #29487d;
}

.header div button{
  font-family: "Lucida Grande", sans-serif;
  background-color: #4267b2;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
  border-radius: 2px;
  border-width: thin;
  border-style: solid;
  border-color: #29487d;
  padding: 1px 10px;
  margin-top: 22px;
  height: 22px;
  cursor: pointer;
}

.header li {
  color:red;
  text-align: center;
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  align-items: center;
  position: absolute;
  top: 60px;
  left:750px;
}
