/* PHASE 1: Header */

.header {
  background: #3b5998;
  height: 82px;
  color: #fff;
}


.header nav{
  display: flex;
  margin: 0 150px;
  justify-content: space-between;

}
.header nav h2{
  font-size: 40px;
  font-weight: bolder;
  font-family: "Lucida Grande", sans-serif;
  padding: 25px 10px 0px 0px;
  display:flex;
}

.header nav div {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.header nav form{
  width: 450px;
  display: flex;
  padding: 15px 0 0 0;
  justify-content: flex-end;
  position:relative;
}

.login-label-div{
  position:relative;
}

.login-label-div label{
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  font-weight:500;
  display: block;
  padding: 0 10px 5px 5px;
}
.login-label-div label input{
  color: black;
  background-color: #fff;
  border-color: #1d2a5b;
  margin-top: 5px;
  height: 20px;
  width: 155px;
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: #29487d;
}

.header div button{
  font-family: "Lucida Grande", sans-serif;
  background-color: #4267b2;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 2px;
  border-width: thin;
  border-style: solid;
  border-color: #29487d;
  padding: 1px 10px;
  margin-top: 22px;
  height: 22px;
}

.header li {
  color:red;
  text-align: center;
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  align-items: center;
  position: absolute;
  top: 60px;
  left:750px;
}
