
.sidebar-ul li{
  height:25px;
  width:200px;
}
.sidebar-ul li:nth-of-type(2){
  height:25px;
  width:200px;
  background-color: rgb(254,254,254);
  border: solid 1px #ccc;
}

.sidebar-ul li:hover{
  height:25px;
  width:200px;
  background-color: rgb(254,254,254);
  border: solid 1px #ccc;
}
.post-error{
  color: red;
  font-size: 12px;
}
