
.sidebar-ul li:nth-of-type(2){
  border-bottom: 1px solid #fff;
  color: #1d2129;
  -webkit-user-select: none;
  font-weight: 600;
  background-color: #f6f7f9;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  //transition: 400ms cubic-bezier(.08,.52,.52,1) background-color, 400ms cubic-bezier(.08,.52,.52,1) border-color, 400ms cubic-bezier(.08,.52,.52,1) opacity;
}
.sidebar-ul li:nth-child(2) .sidebar-ellipse {
  display: block;
}
.sidebar-ellipse {
  display: none;
}
.sidebar-ul li:hover .sidebar-ellipse {
  display: block;
}
.sidebar-ul li:hover{
  background-color: #f6f7f9;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  //transition: 400ms cubic-bezier(.08,.52,.52,1) background-color, 400ms cubic-bezier(.08,.52,.52,1) border-color, 400ms cubic-bezier(.08,.52,.52,1) opacity;
}
.post-error{
  color: red;
  font-size: 12px;
}
.nnsp{
  margin-top: -10px;
}
