
.body{
  max-width: 980px;
  width:100%;
  margin: 0 auto;
  position: relative;
  font-family: 'Freight Sans Bold', Helvetica, sans-serif;
}
.main-section{
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
}
.main-section1{
  display: flex;
  padding-top: 55px;
}

.main-section > div{
  width: 450px;
}
.connect h2{
  font-size: 25px;
  margin-top: 45px;
  color:rgb(51,51,51);
  text-align: left;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
}
.connect div form button{
  background: linear-gradient(#ba68c8, #ab47bc);
  width: 450px;
  padding: 20px 0;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 4px #7b1fa2;
  border-radius: 5px;
  border: solid 1px #6a1b9a;
  box-shadow: 1px 1px 3px #6a1b9a;
  text-align: center;
}
.main-elements{
  display: flex;
}
.main-1{
  height:45px;
  width: 45px;
  background-image: image-url('main_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 10px;
}
.main-2{
  height:45px;
  width: 45px;
  background-image: image-url('main_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 10px;
}
.main-3{
  height:45px;
  width: 45px;
  background-image: image-url('main_3.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 10px;
}
.main-page-img{

  margin-top: 55px;
  width:100%;
  height:220px;

}

.bold-text{
  font-weight: bold;
  margin: 10px 5px;
  font-size: 16px;
}
.normal-text{
  margin: 11.5px 5px;
  color: #666;
  font-size: 14px;
}
.signup-form{
  width:450px;
  margin-top: 20px;
  margin-left: 80px;
}

.signup-form h2{
  color:rgb(51,51,51);
  font-size: 28px;
  margin-top: 10px;
  margin-bottom:5px;
  font-weight: bold;
  font-family: 'Freight Sans Bold', Helvetica, sans-serif !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
}
.signup-form h3{
  font-family: "Helvetica", sans-serif;
  color:rgb(51,51,51);
  font-size: 18px;
  font-weight: normal;
  line-height: 1px;
  margin-bottom: 5px;

}
.signup-form form{
  display:grid;
  justify-content: space-between;
}


.signup-form form div{
  display:inline-flex;
}

.signup-form form label{
  margin:5px;

}
.signup-form form div label{
  margin:5px;

}
.signup-form form div input[type="text"]{
  color: inherit;
  background-color: #fff;
  border-color: #afbdd4;
  margin-top: 5px;
  height: 45px;
  width: 190px;
  display: block;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  border-color: #bdc7d8;

}

.signup-form form input[type="text"]{
  font-family: "Helvetica", sans-serif;
  color: inherit;
  padding: 0 0 0 5px;
  background-color: #fff;
  border-color: #afbdd4;
  margin-top: 5px;
  height: 45px;
  width: 400px;
  display: block;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  border-color: #bdc7d8;

}

.signup-form form input[type="date"]{
  font-family: "Helvetica", sans-serif;
  color:rgb(51,51,51);
  margin-top: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: #bdc7d8;
  height: 45px;
  width: 170px;
}

.sub-text{
  margin-left: 10px;
}
.birthday-signup label {
  font-family: "Helvetica", sans-serif;
  color:rgb(51,51,51);
  display:grid;
}


.sex-signup label{
  font-family: "Helvetica", sans-serif;
  color:rgb(51,51,51);
  display:grid;
}

.sex-signup label div label{
  display:flex;
  margin:0;
}

.sex-signup label div label input{
  margin:0px 5px 5px 5px;
  align-items: center;
}
.sex-signup label div{
  margin-top: 5px;
}
.signup-form form button{
  margin-left: 10px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color:#fff;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  text-shadow: 1px 1px 5px #2c5115;
  background: linear-gradient(#67ae55, #578843);
  background-color: #3b6e22;
  padding: 1px 10px;
  height: 45px;
  width:200px;
}
.margintop{
  margin-top:10px;
  width:150px;
  margin-left: 5px;
}
 .signup-form p {
   text-align: left;
   color: #777;
   margin-left: 10px;
   margin-bottom: 10px;
   width: 350px;
   font-family: "Helvetica", sans-serif;
   font-size: 11px;
 }

.text-color{
  color:inherit;
}

.footer{
  background-color: white;
  color: #bdc7d8;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  display: flex;
  justify-content: flex-end;
  border-color: #bdc7d8;
}
.footer a{
  padding: 15px;
}
.bsub-text {
  margin:5px;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  padding-bottom: 5px;
}
.signup-form ul {
  color:red;
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  align-items: center;
  margin-top:10px;
  margin-left: 10px;
}

.radio {
  padding: 6px 10px;
  border-radius: 5px;
  color: black;
  background: white;
  font-size: 20px;
  margin: 5px 2.5px;
  border: 1.25px solid #8b9dc3;
}
.nsp{
  margin-top: -5px;
}
.p-triangle{
  height: 10px;
  width: 10px;
  background: #fff;
  margin-left: 50px;
  margin-top: -6px;
  transform: rotate(45deg);
  border-left: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
}
