.body {
  font-family: "Helvetica", sans-serif;
  height: 980px;
  background: rgb(233,235,238);

}

.main-section{
  display: flex;
  margin: 0 150px;
  justify-content:space-between;
}
.main-section div{
  width:450px;


}
.connect h2{
  font-weight: 800;
  font-size: 25px;
  margin-top: 35px;
  color:rgb(51,51,51);
  text-align: center;
  font-family: 'Freight Sans Bold', Helvetica, sans-serif !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
}
.connect div form button{
  background: linear-gradient(#ba68c8, #ab47bc);
  width: 400px;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 4px #7b1fa2;
  border-radius: 5px;
  border: solid 1px #6a1b9a;
  box-shadow: 1px 1px 3px #6a1b9a;
  text-align: center;
  margin-top: 40px;
}

.main-page-img{

  margin-top: 55px;
  background-image: image-url('connect-pic.jpg');
  width:100%;
  height:220px;
  background-repeat: no-repeat;
  background-size: contain;
}


.signup-form{
  width:450px;
  margin-top: 0px;
}

.signup-form h2{
  color:rgb(51,51,51);
  font-size: 28px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom:5px;
  font-weight: bold;
  font-family: 'Freight Sans Bold', Helvetica, sans-serif !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
  text-align: center;
}
.signup-form h3{
  font-family: "Helvetica", sans-serif;
  color:rgb(51,51,51);
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 1px;
  margin-bottom: 5px;

}
.signup-form form{
  display:grid;
  justify-content: space-between;
  vertical-align: middle;
  margin-left: 40px;
}


.signup-form form div{
  display:inline-flex;
}

.signup-form form label{
  margin:5px;

}
.signup-form form div label{
  margin:5px;

}
.signup-form form div input[type="text"]{
  color: inherit;
  background-color: #fff;
  border-color: #afbdd4;
  margin-top: 5px;
  height: 45px;
  width: 190px;
  display: block;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  border-color: #bdc7d8;

}

.signup-form form input[type="text"]{
  font-family: "Helvetica", sans-serif;
  color: inherit;
  padding: 0 0 0 5px;
  background-color: #fff;
  border-color: #afbdd4;
  margin-top: 5px;
  height: 45px;
  width: 400px;
  display: block;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  border-color: #bdc7d8;

}

.signup-form form input[type="date"]{
  font-family: "Helvetica", sans-serif;
  color:rgb(51,51,51);
  margin-top: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: #bdc7d8;
  height: 45px;
  width: 170px;
}

.birthday-signup label{
  font-family: "Helvetica", sans-serif;
  color:rgb(51,51,51);
  display:grid;
}


.sex-signup label{
  font-family: "Helvetica", sans-serif;
  color:rgb(51,51,51);
  display:grid;
}

.sex-signup label div label{
  display:flex;
  margin:0;
}

.sex-signup label div label input{
  margin:0px 5px 5px 5px;
  align-items: center;
}
.sex-signup label div{
  margin-top: 5px;
}
.signup-form form button{
  margin-left: 10px;
  font-family: "Helvetica", sans-serif;
  background-color: #69a74e;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color:#fff;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: rgb(59,110,35);
  padding: 1px 10px;
  height: 45px;
  width:200px;
}
 .signup-form p {
   text-align: left;
   color:rgb(51,51,51);
   margin-left: 10px;
   margin-bottom: 10px;
   width: 350px;
   font-family: "Helvetica", sans-serif;
   font-size: 12px;
 }

.text-color{
  color:inherit;
}

.footer{
  margin-top:25px;
  background-color: white;
  color: #bdc7d8;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  display: flex;
  justify-content: flex-end;
  border-color: #bdc7d8;
}
.footer a{
  padding: 15px;
}

.signup-form ul {
  background: rgb(190,75,73);
  border-radius: 2px;
  border-color:rgb(167,83,80);
  text-align: center;
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  color: white;
  width: 180px;
  // padding-top: 10px;
  align-items: center;
  margin-left: 45px;
  position: absolute;
  top: 180px; left: 490px;
}
