
.profile-sidebar{
  width:180px;
}
.post-author{
  font-size: 14px;
  color: #315796;
  font-weight: 600;
}
.add-image1{

  background-image: image-url('add-1.jpg');
  margin-top: 5px;
  height:250px;
  width:220px;
  padding:10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.add-image2{
  background-image: image-url('add-2.jpg');
  height:325px;
  width:220px;
  padding:10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.adds-sidebar{
  width:250px;
  height:500px;
  margin-left: -8px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  border: solid 1px #ddd;
}

.name-tag{
  display:flex;
  width:180px;
  justify-content: space-between;
}
.sidebar-ul li{
  height:25px;
  padding:5px;
  width:180px;
  color: #1d2129;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 13px;
  direction: ltr;
  line-height: 1.34;
  margin-bottom:10px;
}

.space{
  margin-right:20px;
}

.posts-mid{
  margin-left: 30px;
  width:500px;
  margin-right: 25px;
}

.create-post-main{
 width:600px;
}

.main-section div{
  width:500px;
}
.create-post {
  width:500px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  border:1px  solid #ddd;
}
.nimg{
  height: 40px;
  width:40px;
}
.create-post h3{

  color: #4f545a;
  padding:10px;
  font-size: 12px;
}

.post-name{
  display:flex;
  font-size: 12px;
  height:72px;
  padding-top:10px;
}
.new-pad{
  padding-left: 10px;
}
.post-name textarea{
  resize: none;
  width:400px;;
}

.last-buttons{
  border-top:1px solid  #ddd;
  display:flex;
  padding:5px;
  justify-content: space-between;
}

.last-buttons input[type="submit"]{
  height: 23px;
  width: 61px;
  font-size: 12px;
  font-weight: 500;
  background: #3c66af;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin-left: 10px;
}
.fav-icon{
  margin-top: 10px;
  font-size: 13px;
  color: #4f545a;
  padding:5px;
}

.post-title{
  display:flex;
  height:40px;
  background-color: #f6f7f9;
  border-bottom:1px solid  #ddd;
}
.index-post{
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  border: solid 1px #ddd;
  margin-top: 15px;
  padding: 15px;
  font-size: 12px;
}

.index-post button{
  height: 23px;
  width: 61px;
  font-size: 12px;
  font-weight: 500;
  background: #3c66af;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}


.post-photo{
  margin-top:10px;
  margin-left:6px;
  width:460px;
  height:460px;
  object-fit: cover;
}


.del-button{
  position:absolute;
  left:435px;
}

.pos-text {
  margin-top: -12px;
  font-size: 14px;

}

.sp{
  margin-left:18px;
}
.name-sp{
  margin-left: 10px;
  margin-top: 2px;
}
.log{
  font-size: 20px;
  width: 22px;
}
.friends{
  position: relative;
}
.blast{
  position: absolute;
}
.searchMain{
  min-width: 148px;
  width: 100%;
}
.csearch{
  min-width: 148px;
  width: 100%;
}

.sidebar-left{
  display: flex;
}

.mlef{
  margin-left: 10px;
}
