.searchResults{
  position: relative;
}
.searchResults ul {
  list-style-type: none;
  margin: 29px 1px;
  padding: 0;
  position: absolute;
  max-width: 445px;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, .15);
  border-radius: 2px;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
  background-color: white;
  display:list-item;
  left:-445px;
}

.searchResults ul li{
  height:50px;
  min-width: 445px;
  list-style: none;
}
.searchResults ul li:hover{
  background-color: #e9ebee;
}
.search-div{
  display:flex;
  max-width: 445px;
  position: relative;
}

.name-search{
 font-weight: 600;
 padding:0 40px 40px 40px;
 color:#1d2129;
}
.right-greeting{
  flex: 0 0 auto;
  justify-content: flex-end;
}


.search-div img{
  height: 28px;
  width: 28px;
  position:absolute;
  margin-top: 15px;
  border-radius: 100%;

}

.nobut{
  width:0px;
  height:0px;
}
